// out: ../css/styles.css, sourcemap: true, compress: false

@colorNavbarBackground: #3f444c;
@colorNavbarBackground2: #23272c;
@colorNavbarBackground3: #2d3136;
@colorCgmarketRed: #e63250;
@colorNavbarText: #c8c8c8;
@colorNavbarText2: #969696;
@colorGrey: #b4b4b4;
@colorGrey2: #e6e6e6;
@colorGrey3: #646464;
@colorCategoryDark: #343434;
@colorCategoryGrey: #595959;
@colorCategoryClear: #b3b3b3;



//Fonts
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

// font-family: 'PT Sans', sans-serif;

// @fontNavbar
@font-face {
    font-family: CGMarket-tahoma;
    src: url("/fonts/tahoma.ttf");
}

.text-red{
  color: @colorCgmarketRed;
}
.text-grey3{
  color: @colorGrey3;
}

body {
  padding-top: 70px;
}

.navbar-fixed-top{
  // padding-top: 19px;
  background-image: none;
  background-color: @colorNavbarBackground;
  border-color: @colorNavbarBackground;
  height: 80px;
  .search-input{
    width: 333px !important;
  }
  input{
    background-color: @colorNavbarBackground;
  }
  button{
    background-color: @colorNavbarBackground;
    color: @colorNavbarText2;
  }
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 125%;
  padding: 15px;
  width: auto;
}

.nav.navbar-nav.navbar-right li a {
    color: @colorNavbarText;
}

.navbar-collapse{
  padding-top: 16px;
}

.navbar-form{
  .search-button{
    background-color: @colorCgmarketRed;
    border-color: transparent;
  }
}

.shopping-cart-item{
  .item-info{
    float: right;
    margin-left: 10px;
  }
  .badge{
    display: block;
    background-color: @colorCgmarketRed;
    width: 30px;
  }
}

ul.dropdown-cart{
  min-width:250px;
  li{
    .item{
      display:block;
      padding:3px 10px;
      margin: 3px 0;
      &:hover{
        background-color:#f3f3f3;
      }
      &:after{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
      }
    }
    .item-left{
      float:left;
      img, span.item-info{
        float:left;
        margin-left:10px;
        height: 50px;
        width: 50px;
        span{
          display:block;
        }
      }
    }
    .item-right{
      button{
        margin-top:14px;
      }
    }
  }
}

.navbar-default.navbar-lower{
  padding-top: 0px !important;
  margin-top: 9px;
  margin-bottom: 0px;
  border: none;
  border-radius: unset;
  background-color: @colorNavbarBackground2;
  .navbar-collapse{
    padding-top: 0px;
    ul li{
      border-style: solid;
      border-width: 0px 1px 0px 0px;
      border-color: transparent;
      &:hover {
        border-color: @colorNavbarBackground;
        background-color: @colorNavbarBackground3;
      }
      &.active {
        border-color: @colorNavbarBackground;
        a{
          background-color: @colorNavbarBackground3;
        }
      }
      a{
        color: white;
        font-family: "Open sans";
        font-size: 15px;
        font-weight: bold;
        i.fa-angle-down{
          color:#aaaaaa;
        }
      }
      &.pull-right{
        border-style: solid;
        border-width: 0px 1px 0px 1px;
        border-color: @colorNavbarBackground;
        height: 50px;
        a{
          // padding-top: 15px;
          padding-bottom: 15px;
          &:hover {
            border-color: @colorNavbarBackground;
            background-color: @colorNavbarBackground3;
          }
          &:focus {
            border-color: @colorNavbarBackground;
            background-color: @colorNavbarBackground3;
          }
        }
      }
    }
  }
}

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 77vh;
}
.fade-carousel .carousel-inner .item {
    height: 77vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 42%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    font-family: "Open Sans";
    text-shadow: 2px 2px 0 rgba(0,0,0,1);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    h1 {
        font-size: 99.95px;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
    h2 {
        font-size: 58.95px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        margin-bottom: 25px;
    }
    h3 {
        font-size: 19.99px;
        margin: 0;
        padding: 0;
    }
    .btn.btn-hero{
      background-image: none;
      border: 1px solid transparent;
      border-radius: 3px;
      display: inline-block;
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: normal;
      line-height: 1.42857143;
      margin: 40px 8px 0px 8px;
      padding: 12px 40px;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      // border-radius: 4px;
      &.btn-lg {
        font-size: 18px;
        line-height: 1.33;
        border-radius: 3px;
      }
      &.btn-red{
        background-color: @colorCgmarketRed;
        border-color: @colorCgmarketRed;
      }
      &.btn-outline{
      	background: none;
      	border: 1px solid white;
      }
    }
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 77vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url("/img/slide-background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.fade-carousel .slides .slide-2 {
  background-image: url("/img/slide-background.png");
}
.fade-carousel .slides .slide-3 {
  background-image: url("/img/slide-background.png");
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 1800px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }
}

/********************************/
/*          Four Icons          */
/********************************/
.container-fluid.four-icon{
  background-image: url("/img/4-icon-background.png");
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 70px;
  .img-center {
  	margin: 0 auto;
  }
  .img-circle {
    width: 60px;
  }
  .glyphicon-ring {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    display: inline-table;
    text-align: center;
    img{
      margin-top: 20px;
    }
  }
  h3{
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-size: 25px;
    color: white;
  }
  p{
    font-family: 'Tahoma';
    font-size: 15px;
    color: white;
    opacity: 0.7;
  }
}

/********************************/
/*         Tab Products         */
/********************************/
.tab-products{
  padding: 0px 50px;
  margin-bottom: 70px;
  .products-controllers{
    margin-bottom: 30px;
    .btn.btn-hero{
      background-image: none;
    	background-color: transparent;
      border-radius: 3px;
      display: inline-block;
      font-family: "PT Sans";
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 3px;
      line-height: 1.42857143;
      margin: 0px 8px;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      &.btn-lg {
        font-size: 18px;
        line-height: 1.33;
        border-radius: 3px;
        padding: 15px 35px;
      }
      &.btn-red{
        background-color: @colorCgmarketRed;
        color: white;
      }
      &.btn-outline{
      	background: none;
      	border: 1px solid @colorGrey;
        color: @colorGrey;
      }
    }
    .small-buttons{
      padding-right: 0px;
    }
    .btn-separator:after {
      content: ' ';
      display: block;
      float: left;
      background: @colorGrey2;
      margin: 0 10px;
      height: 50px;
      width: 2px;
    }
  }
  .product{
    padding-left: 10px;
    padding-right: 10px;
    .thumbnail{
      padding: 0;
      border-radius: 0;
      -webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,0.50);
      -moz-box-shadow: 0 2px 2px -2px rgba(0,0,0,0.50);
      box-shadow: 0 2px 2px -2px rgba(0,0,0,0.50);
      .caption-full {
        padding: 9px;
        color: #333;
      }
      img {
        width: 100%;
        height: 210px;
      }
      .caption {
        padding-bottom: 0px;
        padding-left: 20px;
        font-family: "PT Sans";
        font-size: 17px;
        a{
          margin-bottom: 0px;
          white-space: nowrap;
          color: black;
        }
      }
      .product-ratings{
        padding-right: 20px;
        padding-left: 20px;
        .product-rating{
          color: @colorCgmarketRed;
          margin-top: 4px;
          .fa{
            display: table-cell;
          }
        }
        .product-price{
          font-family: "Open Sans";
          font-size: 17px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

/********************************/
/*          Top Design          */
/********************************/
.container-fluid.top-design{
  background-image: url("/img/top-design-background.png");
  padding-top: 50px;
  padding-bottom: 14px;
  margin-bottom: 70px;
  box-shadow: 0 0 5px 5px @colorGrey2;
  h2{
    font-family: "Open Sans";
    font-weight: bold;
  }
  h4{
    font-family: "Tahoma";
    font-size: 15px;
    color: @colorGrey3;
  }
  .designers{
    margin-top: 25px;
    margin-bottom: 50px;
    .media-body{
      padding-top: 20px;
    }
    .img-center {
    	margin: 0 auto;
    }
    .img-circle {
      width: auto;
      max-width: 150px;
    }
    h4{
      font-family: 'Open Sans';
      font-weight: bold;
      font-size: 17px;
      color: black;
      margin-bottom: 15px;
    }
    p{
      font-family: 'Tahoma';
      font-size: 14px;
      color: black;
      opacity: 0.7;
      margin-bottom: 20px;
    }
    a{
      font-family: 'Tahoma';
      font-size: 14px;
      color: black;
      i{
        font-size: 10px;
      }
    }
  }
  .btn.btn-hero{
    background-image: none;
    background-color: transparent;
    border-radius: 3px;
    display: inline-block;
    font-family: "Open Sans";
    font-weight: bold;
    margin: 0px 8px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    &.btn-lg {
      font-size: 14px;
      line-height: 1.33;
      border-radius: 3px;
      padding: 15px 35px;
    }
    &.btn-red{
      background-color: @colorCgmarketRed;
      color: white;
    }
  }
}

/********************************/
/*          Latest news         */
/********************************/
.latest-news{
  padding: 0px 50px;
  margin-bottom: 70px;
  h2{
    font-family: 'Open Sans';
    font-weight: bold;
    margin-bottom: 30px;
  }
  .new{
    padding-left: 10px;
    padding-right: 10px;
    .thumbnail{
      padding: 0;
      border-radius: 0;
      -webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,0.50);
      -moz-box-shadow: 0 2px 2px -2px rgba(0,0,0,0.50);
      box-shadow: 0 2px 2px -2px rgba(0,0,0,0.50);
      .caption-full {
        padding: 9px;
        color: #333;
      }
      .img-container{
      	position: relative;
      	display: inline-block;
        img {
          width: 100%;
          height: 285px;
        }
      }
      .date-widget{
      	top:40px;
        right: 20px;
      	width: 49px;
      	height: 58px;
        margin-top: -25px;
        position: absolute;
        background-color: white;
        display:block;
        h4{
          font-family: 'Open Sans';
          margin-top: 0px;
          font-size: 22px;
        }
        h5{
          font-family: "PT Sans";
          margin-bottom: 0px;
        }
      }
      .caption {
        padding-bottom: 20px;
        padding-left: 20px;
        font-family: "PT Sans";
        font-size: 17px;
        h4{
          font-family: 'Open Sans';
          font-weight: bold;
          font-size: 16px;
          color: black;
          margin-bottom: 15px;
        }
        h5{
          font-family: 'PT Sans';
          // font-weight: bold;
          // font-size: 17px;
          color: @colorNavbarText2;
          // margin-bottom: 15px;
        }
        p{
          font-family: 'PT Sans';
          font-size: 14px;
          color: black;
          opacity: 0.7;
          margin-bottom: 20px;
        }
        a{
          font-family: 'PT Sans';
          font-size: 14px;
          color: black;
          i{
            font-size: 10px;
          }
        }
      }
    }
  }
}

/********************************/
/*          Categories          */
/********************************/
.container-fluid.categories{
  background-image: url("/img/categories-background.png");
  padding-top: 50px;
  padding-bottom: 14px;
  margin-bottom: 70px;
  box-shadow: 0 0 5px 5px @colorGrey2;
  .title{
    margin-bottom: 50px;
    h2{
      font-family: "Open Sans";
      font-weight: bold;
      color: white;
    }
    h4{
      font-family: "Open Sans";
      font-weight: bold;
      color: @colorGrey;
      font-size: 14px;
    }
  }
  .category{
    height: 480px;
    &.category-clear{
      background-color: @colorCategoryClear;
    }
    &.category-grey{
      background-color: @colorCategoryGrey;
    }
    &.category-dark{
      background-color: @colorCategoryDark;
    }
    .section-content {
      padding-top: 45%;
      color: @colorGrey2;
      font-family: 'Open Sans';
    }
  }
}
